.side-menu
  .side-menu__header
    .side-menu__header__box
      .side-menu__header__box--name
        = current_user.name
      .side-menu__header__box__icon
        .side-menu__header__box__icon--new-group
          =link_to new_group_path do
            =fa_icon 'edit'
        .side-menu__header__box__icon--new-group
          =link_to edit_user_path(current_user) do
            =fa_icon 'cog'
  .groups
    .group
      - current_user.groups.each do |group|
        =link_to group_messages_path(group), class:"decolation" do
          .group__name 
            = group.name
          .group__first-text 
            = group.show_last_message