.groups{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  width: 300px;
}

.group{
  padding: 20px;
  &__name{
    color: $white;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  &__first-text{
    color: $white;
    font-size: 11px;
    font-weight: bold;
  }
}



.chat-space{
  width: calc(100vw - 300px);
  &__header{
    height: 100px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    &__left{
      &--group-title{
        padding: 35px 0px 15px 40px;
        font-size: 20px;
        color: #333;
      }
      &--group-member{
        font-size: 12px;
        color: $light-gray;
        padding-left: 40px;
        display: flex;
      }
    }
    &__right{
      &--group-edit{
        text-decoration: none;
        line-height: 40px;
        padding: 0px 20px;
        margin: 28px 40px;
        border: solid 1px $sky-bule;
        color: $sky-bule;
        text-decoration: none;
      }
    }
  }
  &__main{
    overflow: auto;
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 46px 40px 0px;  
  }
  &__bottom{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
  }
}

.decolation{
  text-decoration: none;
}

.message{
  &__info{
    display: flex;
    &--user-name{
      color: $dark-gray;
      font-size: 20px;
      font-weight: bold;
    }
    &--post-time{
      color: $light-gray;
      font-size: 12px;
      padding-left: 10px;
    }
  }
  &__post{
    color: $dark-gray;
    font-size: 14px;
    margin: 10px 0px 40px 0px;
  }
}

.form {
  form {
    display: flex;
  }
  &__message {
    height: 50px;
    width: 100%;
    padding: 0 10px;
    color: $dark-gray;
    border-style: none;
    font-size: 16px;
    position: relative;
  }
  &__submit {
    margin-left: 15px;
    height: 50px;
    padding: 0 30px;
    background-color: $sky-bule;
    color: $white;
    cursor: pointer;
    font-size: 16px;
  }
  &__mask {
    position: relative;
  }
  &__mask__image {
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    .hidden {
      display: none;
    }
  }
}