.side-menu{
  width: 300px;
  float: left;
  &__header{
    background-color: #253141;
    height: 100px;
    &__box{
      text-align: center;
      line-height: 100px;
      display: flex;
      justify-content: space-between;
      &--name{
        font-size: 16px;
        font-weight: bold;
        color: $white;
        padding-left: 20px;
      }
      &__icon{
        display: flex;
        padding-right: 20px;
        &--new-group{
          padding-right: 2px;
        }
      }
    }
  }
}

.fa-cog{
  color: white;
}

.fa-edit{
  color: white; 
}

.group__first-text{
  padding-bottom: 40px;
}